.container-1, .container-4, .container-5{
    border: 1px solid black;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

.container-2, .flex-box-rps, .flex-box-pick-color{
    border: 1px solid black;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-2 div{
    padding: 10px;
    border: 1px solid black;
    display: flex;
}

.container-3{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-3{
    display: flex;
    border: 1px solid blue;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-box-container-3 img{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 7);
    margin: 10px;
    border: 1px solid green;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 20px rgba(37, 56, 233, 1) ;
}